h1{
    font-family: fantasy;
    font-size: 7rem;
    color: darkslateblue;
}

h2{
    font-family: fantasy;
    font-size: xx-large;
    color: blueviolet;
}

h3{
    font-family: fantasy;
    font-size: large;
    color: darkviolet;
}